
{% extends 'base.html' %}

{% block body_block %}

	<div class="row">
		<div class="col-xs-12">
			<h3>{{group.name}}</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="well">
				<table class="table table-bordered">
					
						<tr>
							<th>Navn</th>
							<th></th>
						</tr>
					
					<tbody>
						{% for member in members %}
							<tr>
								<td>{{member.member.user.username}}</td>
								<td></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="row">
					<div class="col-xs-12">
				
						<div class="pull-right">
							<a href="{% url 'group_index' %}" class="btn btn-default ">Tilbake</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}