{% extends 'base.html' %}

{% block body_block %}
<div class="row">
	<div class="col-xs-12 col-sm-9 col-sm-offset-3">
		<h3>Gruppe</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-3">
		{% include 'Group/side_menu.html' %}
	</div>
	<div class="col-xs.12 col-sm-9">
		<div class="well">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Gruppe</th>
						<th>Utløpsdato</th>
					</tr>
				</thead>
				<tbody>
					{% for group in model %}
						<tr>
							<td><a href="{% url 'group_info' group.id %}">{{group.name}}</a></td>
							<td>{{group.valid_to_date}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}