{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<div class="row">
	<div class="col-xs-12 col-sm-9 col-sm-offset-3">
		<h3>Registrerte økter</h3>
		
	</div>
</div>

<div class="row">
	<div class="col-sm-3 col-xs-12">
    	{% include "Workout/side_menu.html" %}
    </div>
    <div class="col-sm-9 col-xs-12">
    	<div class="well  overflow-x-auto">
    	
    	<select class="form-control margin-bottom" id="programDropdown" onchange="loadRequestedProgram()">
    		<option value="">--Velg--</option>
    		{% for element in select_list_items %}
    		<option value="{{element.value}}">{{element.name}}</option>
    		{% endfor %}
    	</select>
    	
    	<table class="table table-bordered well-table">
    		<thead>
    			<tr>
    			<th>Program</th>
    			<th>Uke/Dag</th>
    			<th>Start tid</th>
    			<th class="hidden-xs">Slutt tid</th>
    			<th>Handling</th>
    			</tr>
    		</thead>
    		<tbody>
    			{% for element in model %}
    			<tr>
    				<td>{{element.day_program.week.program.name}}</td>
    				<td>{{element.day_program.week.name}}/{{element.day_program.name}}</td>
    				<td>{{element.start_time}}</td>
    				<td class="hidden-xs">{{element.end_time}}</td>
    				<td><a class="btn btn-primary" href="{% url 'show_workout' element.id %}">Vis økt</a></td>
    			</tr>
    			{% endfor %}
    			
    		</tbody>
    		</table>
    	</div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'scripts/workout/registeredWorkouts.js' %}"></script>
{% endblock %}