{% extends 'base.html' %}

{% block body_block %}

<div class="row">
	<div class="col-xs-12 col-sm-9 col-sm-offset-3">
		<h3>Velg økt</h3>
	</div>
</div>

<div class="row">
            <div class="col-sm-3 col-xs-12">
                {% include "Workout/side_menu.html" %}
            </div>
            <div class="col-sm-9 col-xs-12">
            
            <table class="table table-bordered">
            	<thead>
            	<tr>
            		<th></th>
            		<th>{{object.program.name}}</th>
            		<th></th>
            	</tr>
            	</thead>
            	<tbody>
            		{% for week in object.weeks %}
            		<tr>
            			<td></td>
            			<td>
            			{{week.week.name}}
            			<table class="table table-striped">
            			{% for day in week.day_program %}
            			<tr>
            				<td>{{day.day_program.name}}</td>
            				<td>
            					<a class="btn btn-xs btn-primary" href="/workout/register_day/{{day.day_program.id}}/">Registrer</a>
            			</tr>
            			{% endfor %}
            			</table>
            			</td>
            			<td></td>
            		</tr>
            		{% endfor %}
            	</tbody>
            </table>
            
            </div>
</div>
            
            
{% endblock %}