{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="row">
	<div class="col-xs-12 col-sm-9 col-sm-offset-3">
		<h3>{{name}}</h3>
	</div>
</div>

<div class="row">
            <div class="col-sm-3 col-xs-12">
                {% include "Workout/side_menu.html" %}
            </div>
            <div class="col-sm-9 col-xs-12">
            	<div class="well overflow-x-auto">
            		<table class="table table-bordered well-table">
            			<thead>
            				<tr>
            					<th>Øvelse</th>
            					<th class="hidden-xs">Set</th>
            					<th>Reps</th>
            					<th>Vekt</th>
            					<th>Notat</th>
            				</tr>
            			</thead>
            			<tbody>
            			{% for element in model %}
            				<tr>
            					<td>
            						{{element.day_excersice.base_excersice.name}}
            						<button class="btn btn-success btn-xs pull-right modal-opener" data-reg-id="{{element.id}}"
            						data-name="{{element.day_excersice.base_excersice.name}}">
            							<span class="glyphicon glyphicon-edit"></span>
            						</button>
            					</td>
            					<td class="hidden-xs">{{element.set_number}}</td>
            					<td>{{element.reps}}</td>
            					<td>{{element.weight}}</td>
            					<td>{{element.note}}</td>
            				<tr>
            				{% endfor %} 
            			</tbody>
            		</table>
            	</div>
            </div>
 </div>
 
 
 {% include 'Shared/modal.html' %}
 
 {% block js %}
 	<script src="{% static 'scripts/workout/editRegister.js' %}"></script>
 {% endblock %}
 

{% endblock %}