body {
    padding-top: 60px;
    background-image: url('../images/background.jpg');

}

/* margins */

.margin-left {
    margin-left: 5px;
}

.margin-top {
	margin-top: 5px;
}

.margin-bottom {
	margin-bottom: 5px;
}

.well-table {
    background-color:white;
}

.glyphicon-larger {
	font-size:1.4em;
	cursor: pointer;
}

.margin-bottom {
	margin-bottom: 5px;
}

.well > h4 {
	 text-decoration: underline;
}

.alert-icon {
	cursor: pointer;
}