body {
    padding-top: 60px;
    background-image: url('../images/background.jpg');

}

/* margins */

.margin-left {
    margin-left: 5px;
}

.margin-top {
	margin-top: 5px;
}

.margin-bottom {
	margin-bottom: 5px;
}

/* background styling */

.well-table {
    background-color:white;
}

.selected-exercise{
	background-color: #197fc8;
}

/* other */

.glyphicon-larger {
	font-size:1.4em;
	cursor: pointer;
}

.overflow-x-auto {
	overflow-x : auto;
}


.well > h4 {
	 text-decoration: underline;
}

.alert-icon {
	cursor: pointer;
}