{% extends "base.html" %}
{% load static %}
{% block body_block %}
	<div class="row">
    	<div class="col-xs-12">
        	<h2>Legg til  </h2>
        </div>
    </div>
    
	
        <div class="col-xs-12">
        	<div class="well">
        		<form action="{% url 'save_exercises_to_day' program_id day_id %}" method="post">
        			{% csrf_token %}
        			{{ formset.management_form }}
        			
        			{% for error in formset.errors %}
        			<div class="alert alert-danger">
        				{{error}}
        				</div>
        			{% endfor %}
        			
        		<h4>Legg til øvelse til dag </h4>        		        		
        			<div class="row hidden-xs">
						<div class="col-sm-3">Øvelse</div>
						<div class="col-sm-2">Set</div>
						<div class="col-sm-2">Reps</div>
						<div class="col-sm-3">Beskrivelse</div>
						<div class="col-sm-2">Pause</div>
					</div>
        			<div id="formElements">
        			</div>
        			
        			<div class="row">
        				<div class="col-xs-12">
        				
        					<div class="pull-right margin-bottom">        	
        					<input type="button" class="btn btn-success" value="Ny rad" onclick="getFormElement()">
        					<a href="{% url 'program_week' program_id %}" class="btn btn-default margin-left">Tilbake</a>
        					<input class="btn btn-primary margin-left" type="submit" value="Lagre">
        				</div>
        			</div>
        		</div>
        	</form>
        	</div>
        </div>        			       			        		
	
        	
        
        
        <div class=row">
        	<div class="col-xs-12 col-sm-9 col-sm-offset-3">
        		<div id="partial"></div>	
        	</div>
        </div>
        
        <div>
        	{% include 'Shared/modal.html' %}
        </div>
        
        {% block head %}
        <link rel="stylesheet" href="{% static 'scripts/jqwidgets/jqwidgets/styles/jqx.base.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'scripts/jqwidgets/jqwidgets/styles/jqx.bootstrap.css' %}" type="text/css"/>
        <script type="text/javascript" src="{% static 'scripts/jqwidgets/jqwidgets/jqxcore.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/jqwidgets/jqwidgets/jqxbuttons.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/jqwidgets/jqwidgets/jqxscrollbar.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/jqwidgets/jqwidgets/jqxlistbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/jqwidgets/jqwidgets/jqxcombobox.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/jqwidgets/jqwidgets/jqxdata.js' %}"></script>
        {% endblock %}
        
		{% block js %}
		
		<script type="text/javascript">
			var day_id = '{{day_id}}';
			var programId = '{{program_id}}';
			var source = '{{exercises}}';
			var exercisePartialUrl = '{% url "exercise_partial" %}';
			//var muscle_group_url = '{% url "get_muscle_groups" %}';
		</script>
		
        <script type="text/javascript" src="{% static 'scripts/addExercise.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/programs/deleteDayExcercise.js' %}" ></script>
        
<!--

//-->

        {% endblock %}

{% endblock %}