{% extends "base.html" %}
{% load static %}
{% block body_block %}
	<div class="row">
    	<div class="col-xs-12">
        	<h2>Legg til  </h2>
        </div>
    </div>
    
	
        <div class="col-xs-12">
        	<div class="well">
        		<form action="" method="post">
        		<input type="text" name="program_id" class="hidden" value="{{program_id}}"
        			{% csrf_token %}
        		<h4>Legg til øvelse til dag </h4>        		        		
        			<div class="row">
						<div class="col-md-3">Øvelse</div>
						<div class="col-md-2">Set</div>
						<div class="col-md-2">Reps</div>
						<div class="col-md-3">Beskrivelse</div>
						<div class="col-md-2">Pause</div>
					</div>
        			<div id="formElements">
        			</div>
        			
        			<div class="row">
        				<div class="col-xs-12">
        				
        					<div class="pull-right margin-bottom">        	
        					<input type="button" class="btn btn-success" value="Legg til øvelse" onclick="getFormElement()">
        					<a href="{% url 'program_week' program_id %}" class="btn btn-default margin-left">Tilbake</a>
        					<input class="btn btn-primary margin-left" type="submit" value="Lagre">
        				</div>
        			</div>
        		</div>
        	</form>
        	</div>
        </div>        			       			        		
	
        	
        
        
        <div class=row">
        	<div class="col-xs-12 col-sm-9 col-sm-offset-3">
        		<div id="partial"></div>	
        	</div>
        </div>
        
        <div>
        	{% include 'Shared/modal.html' %}
        </div>
        
        
		{% block js %}
		<script type="text/javascript">
			var day_id = '{{day_id}}';
			var programId = '{{program_id}}';
			var exercisePartialUrl = '{% url "exercise_partial" %}';
			//var muscle_group_url = '{% url "get_muscle_groups" %}';
		</script>
		<script type="text/javascript" src="{% static 'scripts/kendo/kendo.combobox.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/addExercise.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/programs/deleteDayExcercise.js' %}" ></script>
<!--

//-->

        {% endblock %}

{% endblock %}