
<div class="form-group">
	<div class="row">
		<div class="col-sm-3" data-number="combo-value-{{count}}">
			<input class="hidden" value="{{program_id}}" name="form-{{count}}-day_program">   
			<input class="hidden" name="form-{{count}}-base_excersice" id="combo-value-{{count}}">
			 <div id="combo-{{count}}"></div>
		</div>
		<div class="col-sm-2">
			<input class="form-control" type="text" name="form-{{count}}-set" >
		</div>
		<div class="col-sm-2">
			<input class="form-control" type="text" name="form-{{count}}-reps" >
		</div>
		<div class="col-sm-3">
			<input class="form-control" type="text" name="form-{{count}}-description" >
		</div>
		<div class="col-sm-2">
			<input class="form-control" type="text" name="form-{{count}}-break_time" >
		</div>
	</div>
</div>
<div class=form-group" id="next-{{next}}"></div>
