{% extends "base.html" %}
{% load static %}
    {% block body_block %}
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h2>Programmer</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                {% include "Programs/side_menu.html" %}

            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="well">
                    <h4>Dine programmer</h4>
                    <table class="table table-bordered well-table">
                    	<thead>
                    		<tr>
                    			
                    			<th>Navn</th>
                    			<th>Dato</th>
                    			<th>Handling</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		{% for program in programs %}
                    		<tr>
                    			
                    			<td>
                    				 <a href="{% url 'program_week' program.id %}">                    				
                    					{{program.name}}
                    				</a>
                    			</td>
                    			<td>{{program.date}}</td>
                    			<td>
                    				<button class="btn btn-danger btn-sm" data-id="{{program.id}}" onclick="deleteProgram(this)" 
                    				data-url="{% url 'delete_program' program.id %}">
                    					<span class="glyphicon glyphicon-trash"></span>
                    					Slett
                    				</button>
                    			</td>                    			
                    			
                    			
                   		 {% endfor %}
                    	</tbody>
                    </table>
                    
                </div>
            </div>
        </div>
        {% include 'Shared/modal.html' %}
         {% block js %}
        <script type="text/javascript" src="{% static 'scripts/yourPrograms.js' %}"></script>
          {% endblock %}
        
	{% endblock %}
    