{% extends "base.html" %}

{% block body_block %}
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h2>Legg til dager</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            {% include "Programs/side_menu.html" %}
        </div>
                
        <div class="col-xs-12 col-sm-9">
	        <div class="well">
            	<h3 class="text-center">{{program.name}}</h3>
            	<form action="{% url 'add_days' %}" method="post">
            	{% csrf_token %}
                    <table class="table table-striped well-table">
                        <thead>
                            <tr>
                                <th id="1"></span></th>
                                <th>Uke</th>
                                <th>Antall dager</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for week in weeks %}
                            <tr>
                                <td class="1"><!-- <span class="glyphicon glyphicon-expand"> --></td>
                                <td>{{week.name}}</td>
                               <!--   <td><a href="/programs/add_day/{{week.id}}/">Legg til dag</a></td>-->
                               <td> 
                               	<input type="text" name="[{{forloop.counter0}}].day_number" class="form-control">
                               	<input type="text" name="[{{forloop.counter0}}].week_id" class="hidden" value="{{week.id}}">
                               </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                     	<div class="col-xs-12">
                     		<input type="submit" class="btn btn-primary pull-right" value="Lagre">
                     	</div>
                     </form>
                     
                     </div>
                </div>
            </div>
        </div>
       
{% endblock %}