{% extends "base.html" %}
{% load static %}
{% block body_block %}
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h2>Rediger program</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            {% include "Programs/side_menu.html" %}
        </div>
                
        <div class="col-xs-12 col-sm-9">
	        <div class="well">
            	<h3 class="text-center">{{model.program.name}}</h3>
            	
            	
                    <table class="table table-striped well-table">
                        <thead>
                            <tr>
                                <th id="1"></th>
                                <th>Uke</th>
                                <th>Dager</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        {% for week in model.weeks %}
                            <tr>
                                <td class="1"><!-- <span class="glyphicon glyphicon-expand"> --></td>
                                <td>
                                {{week.week.name}} </br>
                                	<a href="{% url 'add_one_day' week.week.id %}" class="btn btn-xs btn-success">Legg til dag</a>
                                	<button class="btn btn-xs btn-danger" data-url="{% url 'delete_week_confirmation' week.week.id %}"
                                	onclick="clickLoadWarning(this)">
                                		Slett uke
                                	</button>
                                	<form action="{% url 'copy_week' week.week.id %}" method="post">
                                		{% csrf_token %}
                                		<button class="btn btn-xs btn-success" type="submit">Kopier</button>
                                	</form>
                                </td>
                               <!--   <td><a href="/programs/add_day/{{week.id}}/">Legg til dag</a></td>-->
                               <td> 
                               	<table class="table table-responsive">
                               		{% for day in week.day_program %}
                               			<tr>
                               				<td>
                               				{{day.day_program.name}}
                               				</td>
                               				<td>
                               					<button data-url="{% url 'show_day' day.day_program.id %}" class="btn btn-sm btn-success show-day"
                               					onclick="showDayClick(this)">
                               						Vis dag
                               					</button>
                               					<button data-url="{% url 'delete_confirmation' day.day_program.id %}" class="btn btn-sm btn-danger"
                               					onclick="clickLoadWarning(this)">
                               						Slett dag
                               					</button>
                               				</td>
                               				<td><div class="hidden-xs">Øvelser:</div>{{day.number_of_exercises}}</td>
                               			</tr>
                               		{% endfor %}
                               	</table>
                               </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <form action="{% url 'addweek' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" class="hidden" value="{{model.program.id}}" name="program_id">
                    <div class="row">
                     	<div class="col-xs-12">
                     		<input type="submit" class="btn btn-primary pull-right" value="Legg til uke">
                     	</div>
                     </form>
                     
                     </div>
                </div>
            </div>
        </div>

        <div id="modalDiv">{% include 'Shared/modal.html' %}</div>

{% block js %}
	<script type="text/javascript" src="{% static 'scripts/programs/programWeekModal.js' %}"></script>
<!--

//-->
</script>
{% endblock %}
       
{% endblock %}






